// snap styles
.snap {
  width: 1080px;
  height: 1920px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  background-size: contain;
  z-index: 2;
  text-align: center;

  &.show {
    display: block;
  }

  .title {
    width: auto;
    height: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .building {
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 210px;
    left: 0;
  }
}
