// snap styles
.snap {
  width: 1080px;
  height: 1920px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  background-size: contain;
  z-index: 2;
  text-align: center;

  &.show {
    display: block;
  }

  .hashtag {
    color: $white;
    position: absolute;
    bottom: 50px;
    right: 260px;
  }

  .title {
    width: auto;
    height: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
  }

  .building {
    width: 1170px;
    height: auto;
    position: absolute;
    bottom: 200px;
    left: -60px;
  }

  .pilotcrew {
    position: absolute;
    bottom: 50px;
    left: 70px;
    height: 300px;
  }
}

// customise
#losangeles {
  .title {
    height: 260px;
    margin-top: 90px;
  }
}

#newyork {
  .title {
    height: 175px;
    margin-top: 150px;
  }
}
