include ../../atoms/snap/snap

mixin takepicture(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  +snap({
    'city': 'vancouver',
    'pilotcrewnumber': '4',
    'plane': 'other'
    })
  +snap({
    'city': 'newyork',
    'pilotcrewnumber': '2',
    'plane': 'other'
    })
  +snap({
    'city': 'sanfrancisco',
    'pilotcrewnumber': '3',
    'plane': 'other'
    })
  +snap({
    'city': 'taipei',
    'pilotcrewnumber': '1',
    'plane': 'taipei'
    })
  +snap({
    'city': 'losangeles',
    'pilotcrewnumber': '5',
    'plane': 'losangeles'
    })
    
