include ../../atoms/snap/snap

mixin takepicture(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  +snap({
    'city': 'vancouver',
    'pilotcrewnumber': '4'
    })
  +snap({
    'city': 'newyork',
    'pilotcrewnumber': '2'
    })
  +snap({
    'city': 'sanfrancisco',
    'pilotcrewnumber': '3'
    })
  +snap({
    'city': 'taipei',
    'pilotcrewnumber': '1'
    })
  +snap({
    'city': 'losangeles',
    'pilotcrewnumber': '5'
    })
    
