// keyboard styles
$keySize: 71.3px;

.tippy-tooltip {
  font-size: 15pt;
}

#container {
  margin: 25px auto 0;

  button {
    margin: 20px 0;
    color: $white;
    background-color: $red;

    &:first-of-type {
      background-color: grey;
    }

  }
}

#write {
  margin: 0 0 5px;
  padding: 5px;
  padding-left: 30px;
  width: 100%;
  background: #fff;
  color: #000;
  height: 85px;
  font-size: 20pt;
  border: 0;
  text-align: center;
  border-radius: 25px;
  &::placeholder {
    color: #000;
  }
}

#keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15pt;

  li {
    float: left;
    width: $keySize;
    height: $keySize;
    line-height: $keySize;
    text-align: center;
    background: $grey;
    color: $white;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
  }
  .return {
    width: 77px;
  }
  .left-shift {
    width: $keySize * 2;
  }
  .com {
    width: $keySize * 2;
  }
  .darkGrey {
    background-color: $darkGrey;
  }
}

.capslock, .tab, .left-shift {
  clear: left;
}

.left-shift {
  img {
    max-width: 30px;
    margin-top: 23px;
  }
}

.delete {
  img {
    max-width: 35px;
    margin-top: 21px;
  }
}

.lastitem {
  margin-right: 0;
}

.uppercase {
  text-transform: uppercase;
}

.on {
  display: none;
}

#keyboard li:hover {
  position: relative;
  top: 1px;
  left: 1px;
  border-color: #e5e5e5;
  cursor: pointer;
}
