$cooperBlack: 'Cooper Black Regular';

$largetext: 55pt;
$screenshotwidth: 470px;

$white: #fff;
$black: #000;
$orange: #f05a22;
$olive: #71a334;
$yellowgreen: #8cc63e;
$darkRed: #a82a33;
$crimson: #ed1a23;
$red: #e81922;
$lightGrey: #808284;
$grey: #666d73;
$darkGrey: #495259;
$silver: #d0d0d0;
$darkSilver: #9e9da3;
$numberGrey: #dfdfdf;
