$cooperBlack: 'Cooper Black Regular';

$largetext: 55pt;
$screenshotwidth: 400px;

$white: #fff;
$black: #000;
$orange: #f05a22;
$yellowgreen: #8cc63e;
$red: #e81922;
$lightGrey: #808284;
$grey: #666d73;
$darkGrey: #495259;
