// Normalize Styles
@import 'node_modules/normalize.css/normalize';
@import 'node_modules/animate-scss/animate.scss';
@import 'node_modules/bulma/sass/utilities/_all';
@import 'node_modules/bulma/sass/components/modal';


// Imports
@import 'fonts';
@import 'variables';


// Import Modules
@import '../_modules/atoms/snap/snap';
@import '../_modules/atoms/keyboard/keyboard';
@import '../_modules/atoms/sticker/sticker';
@import '../_modules/molecules/camera/camera';


*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 1080px;
  height: 1920px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: scroll;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page {
  width: 1080px;
  height: 1920px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: none;

  .toprightlogo {
    max-width: 330px;
    display: block;
    margin-right: 70px;
    margin-left: auto;
    margin-top: 60px;
  }

  .topleftplane {
    position: absolute;
    left: 60px;
    width: 522px;
    top: 63px;

    &.other {
      left: 0;
    }
  }

  &.show {
    display: block;
  }
}

.cooperBlack {
  font-family: $cooperBlack;
}

#start {
  background-image: url('../images/bg_start.png');
  text-align: center;
  position: relative;

  #logo {
    display: block;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }

  #snaptowin {
    @include pulse(
    $count: infinite,
    $duration: 1.5s
    );
    width: 680px;
    margin-top: 150px;
  }

  .plane {
    position: absolute;
    width: 220px;
    left: 90px;
    top: 370px;
  }

  #clicktostart {
    text-align: center;
    margin-top: 60px;

    #triangle {
      border-bottom: 25px solid $orange;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      height: 0;
      width: 0;
      margin-left: auto;
      margin-right: auto;
    }

    p {
      color: $orange;
      font-size: 22pt;
      margin-top: .6em;
    }
  }

  #standachance {
    margin-top: 40px;
    position: relative;

    p {
      color: $orange;
      font-size: 55pt;
      margin: 0;
      font-weight: bold;

      &.small {
        color: $black;
        font-size: 25pt;
        font-weight: lighter;
      }
    }

    img {
      position: absolute;
      top: -16px;
      height: 130px;
      right: 114px;
    }
  }

  hr {
    background-color: $lightGrey;
    margin-top: 30px;
    width: 70%;
  }

  #steps {
    width: 70%;
    color: $lightGrey;
    white-space: nowrap;
    font-weight: lighter;
    margin-left: auto;
    margin-right: auto;

    .step {
      display: inline-block;
      width: 25%;
      float: left;

      h1 {
        font-weight: lighter;
        font-size: 26pt;
        margin-bottom: .4em;
      }

      span {
        font-size: 15pt;
      }
    }
  }

  #tnc {
    color: $lightGrey;
    font-size: 10pt;
    position: absolute;
    width: 100%;
    bottom: 180px;
  }
}

#select {
  background-image: url('../images/bg_selection.png');
  text-align: center;

  h1 {
    color: $orange;
    text-align: center;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: $largetext;
    margin-top: 280px;
    font-weight: normal;
    margin-bottom: .35em;
  }

  span {
    color: $lightGrey;
    max-width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20pt;
    margin-bottom: 100px;
  }

  a {
    img {
      height: 150px;
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  #singlesteward {
    position: absolute;
    width: 270px;
    left: 200px;
    bottom: 125px;
  }

  #besidesinglesteward {
    position: absolute;
    width: 445px;
    right: 190px;
    bottom: 236px;
  }
}

#thanks {
  background-image: url('../images/bg_common.png');

  h1 {
    font-family: $cooperBlack;
    color: $orange;
    font-weight: normal;
    text-align: center;
    margin-top: 280px;
    font-size: 42pt;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  span {
    color: $black;
    font-size: 30pt;
    text-align: center;
    display: block;
    margin-top: 60px;
    font-weight: bold;
  }

  p {
    color: $lightGrey;
    font-size: 26pt;
    text-align: center;
    display: block;
    font-weight: lighter;
    line-height: 1.5;
    margin-top: 60px;
    span {
      color: $orange;
      margin: .1em 0;
    }
  }

  #girlleft {
    width: 175px;
    position: absolute;
    left: 130px;
    bottom: 610px;
  }

  #girlright {
    width: 189px;
    position: absolute;
    right: 130px;
    bottom: 611px;
  }
}

#webcamimg {
  transform: rotate(90deg);
  img {
    height: $screenshotwidth;
    width: auto;
  }
}
