// Normalize Styles
@import 'node_modules/normalize.css/normalize';
@import 'node_modules/animate-scss/animate.scss';
@import 'node_modules/bulma/sass/utilities/_all';
@import 'node_modules/bulma/sass/components/modal';


// Import Variables
@import 'variables';


// Import Modules
@import '../_modules/atoms/snap/snap';
@import '../_modules/atoms/keyboard/keyboard';
@import '../_modules/molecules/camera/camera';

$screenshotwidth: 400px;


*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 1080px;
  height: 1920px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page {
  width: 1080px;
  height: 1920px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;

  &.show {
    display: block;
  }
}

#start {
  img {
    @include pulse(
    $count: infinite,
    $duration: 1.5s
    );
    max-width: 300px;
  }
}

.sticker {
  display: none;

  &.show {
    display: block;
  }
}

// .holdscreenshot {
//   max-width: 400px;
//   position: relative;
//
//   img {
//     width: 100%;
//   }
// }

#webcamimg {
  transform: rotate(90deg);
  img {
    height: $screenshotwidth;
    width: auto;
  }
}

.modal-content {
  width: 864px;
  margin-left: 108px;
}
