// frame styles

.frame {
  width: 1080px;
  height: 1920px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;

  &.show {
    display: block;
  }
}
