include ../../molecules/camera/camera

mixin frame(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .frame
    .header
    .stewards
    .foreground
    .plane
    
    +camera()
    
    a(class="takepicture") take picture
