// sticker styles
#addsticker {
  background-image: url('../images/bg_common.png');
  text-align: center;

  h1 {
    color: $orange;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 270px;
    font-size: $largetext * .95;
  }

  .sticker {
    background-color: $orange;
    border: 4px solid $black;
    border-radius: 30px;
    height: 745px;
    width: 290px;
    padding: 20px;
    white-space: nowrap;
    display: none;
    margin-left: 10px;
    position: absolute;
    right: 156px;

    &.show {
      display: inline-block;
    }

    h2 {
      color: $white;
      text-align: center;
      font-family: $cooperBlack;
      font-size: 30pt;
      margin-top: 6px;
      font-weight: normal;
    }

    .column {
      display: inline-block;
      width: 50%;
      text-align: center;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  .buttons {
    position: absolute;
    right: 167px;
    bottom: 450px;

    .btn {
      span {
        font-size: 20pt;
      }
    }
  }

  .holdscreenshot {
    display: inline-block;
    position: absolute;
    left: 130px;
    overflow: hidden;
    border: 4px solid $black;
    margin-right: 10px;
    width: $screenshotwidth;
    height: $screenshotwidth * 1.778;

    img {
      height: 100%;
      width: 100%;
    }

    .dragme {
      max-width: 100px;
      top: 0;
      left: 0;
      z-index: 2;
    }

    .snap {
      width: 100%;
      height: 100%;
    }
  }

  .retake {

    margin-right: 5px;

    &:before {
      background-color: $crimson;
    }
    &:after {
      background-color: $darkRed;
    }
  }

  .confirm {
    margin-left: 5px;
    &:before {
      background-color: $yellowgreen;
    }
    &:after {
      background-color: $olive;
    }
  }

  .modal-content {
    width: 864px;
    margin-left: 108px;
    background-color: $yellowgreen;
    border-radius: 40px;
    padding: 40px;

    h1 {
      color: $white;
      margin-top: 0;
      font-size: 30pt;
    }

    p {
      color: $white;
    }
  }

}
