// sticker styles
#addsticker {
  background-image: url('../images/bg_common.png');
  text-align: center;

  h1 {
    color: $orange;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 270px;
    font-size: $largetext * .95;
  }

  .sticker {
    background-color: $orange;
    border: 4px solid $black;
    border-radius: 30px;
    height: 745px;
    width: 290px;
    padding: 20px;
    white-space: nowrap;
    display: none;
    margin-left: 10px;
    position: absolute;
    right: 156px;

    &.show {
      display: inline-block;
    }

    h2 {
      color: $white;
      text-align: center;
      font-family: $cooperBlack;
      font-size: 30pt;
      margin-top: 6px;
      font-weight: normal;
    }

    .column {
      display: inline-block;
      width: 50%;
      text-align: center;

      img {
        display: block;
        width: 100%;
        transform: scale(1.5);
        position: relative;

        &.left {
          color: green;
        }
        &.right {
          color: red;
        }
      }
    }

    &.sticker-taipei {
      h2 {
        margin-bottom: 5px;
      }

      img {
        transform: scale(.85);

        &.left {
          left: 6px;
        }
        &.right {
          right: 6px;
        }
      }

      .image5 {
        top: -45px;
      }
      .image {
        top: -5px;
      }
      .image2 {
        top: -28px;
      }
      .image3 {
        top: -45px;
      }
      .image4 {
        top: -65px;
      }
      .image6 {
        top: -48px;
      }
      .image7 {
        top: -55px;
      }
      .image8 {
        top: -68px;
      }
    }

    &.sticker-losangeles {
      h2 {
        margin-bottom: 5px;
      }

      img {
        transform: scale(1.3);

        &.left {
          left: 0px;
        }
        &.right {
          right: 6px;
        }
      }

      .image5 {
        top: 15px;
        transform: scale(1.2);
      }
      .image1 {
        top: 18px;
      }
      .image2 {
        top: 39px;
      }
      .image3 {
        top: 70px;
      }
      .image4 {
        top: 75px;
      }
      .image6 {
        top: 11px;
      }
      .image7 {
        top: 11px;
      }
      .image8 {
        top: 33px;
      }
    }

    &.sticker-newyork {
      h2 {
        margin-bottom: 5px;
      }

      img {
        transform: scale(1.4);

        &.left {
          left: 0px;
        }
        &.right {
          right: 6px;
        }
      }

      .image5 {
        top: 35px;
      }
      .image1 {
        top: -5px;
      }
      .image2 {
        top: 39px;
      }
      .image3 {
        top: 70px;
      }
      .image4 {
        top: 75px;
      }
      .image6 {
        top: 11px;
      }
      .image7 {
        top: 5px;
      }
      .image8 {
        top: 43px;
      }
    }

    &.sticker-sanfrancisco {
      h2 {
        margin-bottom: 5px;
      }

      img {
        transform: scale(1.3);

        &.left {
          left: 0px;
        }
        &.right {
          right: 6px;
        }
      }

      .image5 {
        top: 25px;
    transform: scale(1.4);
      }
      .image1 {
        top: 13px;
    left: 9px !important;
      }
      .image2 {
        top: 27px;
      }
      .image3 {
        top: 10px;
      }
      .image4 {
        top: 40px;
      }
      .image6 {
        top: -5px;
      }
      .image7 {
        top: -12px;
      }
      .image8 {
        top: 36px;
      }
    }

    &.sticker-vancouver {
      h2 {
        margin-bottom: 5px;
      }

      img {
        transform: scale(1.3);

        &.left {
          left: 0px;
        }
        &.right {
          right: 6px;
        }
      }

      .image5 {
        top: 32px;
    transform: scale(1.4);
      }
      .image1 {
        top: -60px;
    left: 9px !important;
      }
      .image2 {
        top: -52px;
      }
      .image3 {
        top: -45px;
      }
      .image4 {
        top: -10px;
      }
      .image6 {
        top: -5px;
      }
      .image7 {
        top: -45px;
      }
      .image8 {
        top: -24px;
      }
    }
  }

  .buttons {
    position: absolute;
    right: 167px;
    bottom: 450px;

    .btn {
      span {
        font-size: 20pt;
        line-height: 20pt;
      }
    }
  }

  .holdscreenshot {
    display: inline-block;
    position: absolute;
    left: 130px;
    overflow: hidden;
    border: 4px solid $black;
    margin-right: 10px;
    width: $screenshotwidth;
    height: $screenshotwidth * 1.778;

    img {
      height: 100%;
      width: 100%;
    }

    .dragme {
      max-width: 130px;
      top: 0;
      left: 0;
      height: auto;
      z-index: 2;
    }

    .snap {
      width: 100%;
      height: 100%;
    }
  }

  .retake {

    margin-right: 5px;

    &:before {
      background-color: $crimson;
    }
    &:after {
      background-color: $darkRed;
    }
  }

  .confirm {
    margin-left: 5px;
    &:before {
      background-color: $yellowgreen;
    }
    &:after {
      background-color: $olive;
    }
  }

  .modal-content {
    width: 864px;
    margin-left: 108px;
    background-color: $yellowgreen;
    border-radius: 40px;
    padding: 40px;

    h1 {
      color: $white;
      margin-top: 0;
      font-size: 30pt;
    }

    p {
      color: $white;
      font-size: 15pt;
    }
  }

  .modal-close {
    z-index: 3;
    max-width: none;
    position: absolute;
    height: 70px;
    width: 70px;
    max-height: none;
    top: 20px;
    right: 20px;
  }
}
