extends _layouts/base

include _modules/atoms/snap/snap
include _modules/atoms/keyboard/keyboard
include _modules/atoms/sticker/sticker
include _modules/atoms/loader/loader

include _modules/molecules/camera/camera
include _modules/molecules/takepicture/takepicture

block content

  +loader()
  .page.show#start
    img(id="logo" src="../images/logo.png")
    img(id="snaptowin" src="../images/camera.png")
    
    img(class="plane" src="../images/smallplane.png")
    
    #clicktostart
      #triangle
      p Click to Start
      
    #standachance
      p.small Stand a chance to
      p WIN AIR TICKETS
      p.small & Eva AIR x Sanrio Hello Kitty Goody Bag
      img(src="../images/ticketstub.png")
      
    hr
      
    #steps
      .step
        h1 Step 1
        span 
          | Choose one out
          br
          | of the icons
      .step
        h1 Step 2
        span 
          | Take a creative 
          br 
          | photo of yourself
      .step
        h1 Step 3
        span 
          | Enter your email
          br
          | to receive the 
          br
          | photo for 
          br
          | safe-keeping
      .step
        h1 Step 4
        span 
          | Upload the 
          br 
          | photo to your 
          br
          | FB or Instagram 
          br
          | account and hashtag 
          br
          | #EVAAIR
        
    #tnc
      | * Terms and conditions apply. Refer to our Facebook page.
    
  .page#select
    img(class="toprightlogo" src="../images/logo.png")
    h1(class="cooperBlack") Choose Your Destination
    span Choose one out of the five destinations which EVA Air flies to as your theme
    
    a(data-select="taipei")
      img(src="../images/choose_taipei.png")
    a(data-select="losangeles")
      img(src="../images/choose_losangeles.png")
    a(data-select="newyork")
      img(src="../images/choose_newyork.png")
    a(data-select="sanfrancisco")
      img(src="../images/choose_sanfrancisco.png")
    a(data-select="vancouver")
      img(src="../images/choose_vancouver.png")
      
    img(id="singlesteward" src="../images/singlesteward.png")
    img(id="besidesinglesteward" src="../images/besidesinglesteward.png")
  
  .takepicturecontainer.page
    img(class="toprightlogo" src="../images/logo.png")
    +takepicture()
    +camera()
    
  
  .page#addsticker
    img(class="toprightlogo" src="../images/logo.png")
    h1(class="cooperBlack")
     | Get Creative!
     br
     | Edit Your Photo
    
    .holdscreenshot
       #webcamimg
     
    +sticker({
      'city': 'sanfrancisco',
      'leftcolumn': ['1', '2', '3', '4'],
      'rightcolumn': ['5', '6', '7', '8']
      })
      
    +sticker({
      'city': 'taipei',
      'leftcolumn': ['1', '2', '3', '4'],
      'rightcolumn': ['5', '6', '7', '8']
      })
        
    +sticker({
      'city': 'newyork',
      'leftcolumn': ['1', '2', '3', '4'],
      'rightcolumn': ['5', '6', '7', '8']
      })
          
    +sticker({
      'city': 'losangeles',
      'leftcolumn': ['1', '2', '3', '4'],
      'rightcolumn': ['5', '6', '7', '8']
      })
            
    +sticker({
      'city': 'vancouver',
      'leftcolumn': ['1', '2', '3', '4'],
      'rightcolumn': ['5', '6', '7', '8']
      })
    
    .buttons
      .btn.retake.cooperBlack 
        span RETAKE
      .btn.confirm.cooperBlack 
        span DONE!
    
    .modal
      .modal-background
      .modal-content
        h1 Enter your email address
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        +keyboard()
        
  .page#thanks
    img(class="toprightlogo" src="../images/logo.png")
    h1 
      | Thank you!!! 
      br
      | Hope you had enjoyed yourself!!!
    
    span 
      | You are one step away from
      br
      | standing a chance to win an air ticket!!
      
    p
      | Upload the photo on
      br
      | your Fb or Instagram
      br
      | account and hashtag
      br
      span #EVAAIR
      | to complete your
      br
      | participation.
      
    img(id="girlleft" src="../images/girl_left.png")
    img(id="girlright" src="../images/girl_right.png")
      
      
      
    .btn 
      span START AGAIN
    
    
  audio
    source(src="../assets/snap.mp3" type="audio/mpeg")
    
