extends _layouts/base

include _modules/atoms/snap/snap
include _modules/atoms/keyboard/keyboard
include _modules/atoms/sticker/sticker
include _modules/molecules/camera/camera

include _modules/molecules/takepicture/takepicture

block content

  .page.show#start
    img(id="logo" src="../images/logo.png")
    img(id="snaptowin" src="../images/camera.png")
    
  .page#select
    img(class="toprightlogo" src="../images/logo.png")
    h1 Choose Your Destination
     
    a(data-select="sanfrancisco")
      img(src="../images/title_sanfrancisco.png")
    a(data-select="taipei")
      img(src="../images/title_taipei.png")
    a(data-select="newyork")
      img(src="../images/title_newyork.png")
    a(data-select="losangeles")
      img(src="../images/title_losangeles.png")
    a(data-select="vancouver")
      img(src="../images/title_vancouver.png")
  
  .takepicturecontainer.page
    img(class="toprightlogo" src="../images/logo.png")
    +takepicture()
    +camera()
    
  
  .page#addsticker
    img(class="toprightlogo" src="../images/logo.png")
    h1 
     | Get Creative!
     br
     | Edit Your Photo
     
    .holdscreenshot
       #webcamimg
       
    +sticker({
      'city': 'sanfrancisco',
      'leftcolumn': ['1', '2', '3'],
      'rightcolumn': ['4', '5', '6']
      })
      
    +sticker({
      'city': 'taipei',
      'leftcolumn': ['1', '2', '3'],
      'rightcolumn': ['4', '5', '6']
      })
        
    +sticker({
      'city': 'newyork',
      'leftcolumn': ['1', '2', '3'],
      'rightcolumn': ['4', '5', '6']
      })
          
    +sticker({
      'city': 'losangeles',
      'leftcolumn': ['1', '2', '3'],
      'rightcolumn': ['4', '5', '6']
      })
            
    +sticker({
      'city': 'vancouver',
      'leftcolumn': ['1', '2', '3'],
      'rightcolumn': ['4', '5', '6']
      })
    
    button(class="retake") Retake picture
    button(class="confirm") Confirm picture
    
    .modal
      .modal-background
      .modal-content
        +keyboard()
        button(type="submit") Submit
        button(class="close") Close
        
  .page#thanks
    img(class="toprightlogo" src="../images/logo.png")
    h1 Thank you!!! Hope you had enjoyed yourself!
    button start again
    
    
  audio
    source(src="../assets/snap.mp3" type="audio/mpeg")
    
