extends _layouts/base

include _modules/link/link
include _modules/atoms/snap/snap

include _modules/molecules/takepicture/takepicture

block content

  .page.show#start
    img(src="../images/camera.png")
    
  .page#select
    h1 select your city
    
    a(data-select="sanfrancisco") San Francisco
    a(data-select="taipei") Taipei
    a(data-select="newyork") New York
    a(data-select="losangeles") Los Angeles
    a(data-select="vancouver") Vancouver
  
  +takepicture()
  
  .page#addsticker
    .sticker.sticker-sf sanfran sticker
    .sticker.sticker-tp taipei sticker
    .sticker.sticker-ny newyork sticker
    .sticker.sticker-la losangeles sticker
    .sticker.sticker-vc vancouver sticker
    
