extends _layouts/base

include _modules/atoms/snap/snap
include _modules/molecules/camera/camera

include _modules/molecules/takepicture/takepicture

block content

  .page.show#start
    img(id="todrag" src="../images/camera.png")
    
  .page#select
    h1 select your city
    
    a(data-select="sanfrancisco") San Francisco
    a(data-select="taipei") Taipei
    a(data-select="newyork") New York
    a(data-select="losangeles") Los Angeles
    a(data-select="vancouver") Vancouver
  
  .takepicturecontainer.page
    +takepicture()
    +camera()
    
  
  .page#addsticker
    .sticker.sticker-sanfrancisco
      img(src="../images/ticketstub.png")
    .sticker.sticker-taipei taipei sticker
    .sticker.sticker-newyork newyork sticker
    .sticker.sticker-losangeles losangeles sticker
    .sticker.sticker-vancouver vancouver sticker
    .holdscreenshot
    #my_result
    
  audio
    source(src="../assets/snap.mp3" type="audio/mpeg")
    
